# Unix
*~

# Python
*.py[cod]

# Python C extensions
*.so

# Python Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# IDEs
.mr.developer.cfg
.project
.pydevproject
*.wpu
*.wpr

# local directories
/workspace
.idea
 
# latex
*.aux
*.log

# archives
*.gz
*.zip
*.tar

# Mac
.DS_Store


*.dat

# Geometry
*.geo
*.stl
*.vsp3
*.cfg
*.su2
*.key

# Images
*.pdf
*.png

ide/Wing/SUAVE.wpr
/doc/html
/doc/latex

!/doc/suave_logo.png
RUN_IN_PYCHARM/Electric_Architecture_BUS/p1ower_over_time.txt
RUN_IN_PYCHARM/Electric_Architecture_BUS/power_over_time.txt
RUN_IN_PYCHARM/Hybrid_Architecture_CoG/Parameter_over_time.txt
*mission.csv
*fact_sheet.txt
*raw_data.p
RUN_IN_PYCHARM/Hybrid_Architecture_CoG_Sweep/Parameter_over_time.txt
/RUN_IN_PYCHARM/_results/
RUN_IN_PYCHARM/configs.p
RUN_IN_PYCHARM/Reference_ATR42_06_2022/configs.p
RUN_IN_PYCHARM/Reference_ATR42_06_2022/results.p
RUN_IN_PYCHARM/results.p
RUN_IN_PYCHARM/Config_1_Parallel_Hybrid/Parameter_over_time.txt
RUN_IN_PYCHARM/Reference_ATR42_06_2022/Mission_Setup_v1.py
RUN_IN_PYCHARM/Config_1_Parallel_Hybrid_Sweep/Parameter_over_time.txt
RUN_IN_PYCHARM/Config_1_Parallel_Hybrid_Sweep/electric_motor.p
RUN_IN_PYCHARM/2000_Conventional_Reference_Aircraft/configs.p
RUN_IN_PYCHARM/2000_Conventional_Reference_Aircraft/results.p

trunk/SUAVE/Data_Files/Electric_Motor/electric_motor_low_51.p
trunk/SUAVE/Data_Files/Electric_Motor/electric_motor_low_101.p
trunk/SUAVE/Data_Files/Electric_Motor/electric_motor_low_201.p

trunk/SUAVE/Data_Files/Electric_Motor/electric_motor_high_51.p
trunk/SUAVE/Data_Files/Electric_Motor/electric_motor_high_101.p
trunk/SUAVE/Data_Files/Electric_Motor/electric_motor_high_201.p
trunk/SUAVE/Data_Files/Electric_Motor/electric_motor_high_501.p
trunk/SUAVE/Data_Files/Gas_Turbine/HEA140016.p
trunk/SUAVE/Data_Files/Gas_Turbine/HEA160016.p
trunk/SUAVE/Data_Files/Gas_Turbine/HEA160020.p
